ion-content{
    --background:url(../../assets/image.jpg) center center / cover ;
}

.aplicativos{
    padding-top: 0%;
    text-align: center;
    display: grid;
}

.card-icons{
padding-left: 8%;
}

ion-label{
    font-size: 200%;
}

ion-avatar{
    width: 70px;
    height: 70px;
}

.fondoicono{
    border-radius: 100px;
    background-color: lavender;
    width: 90px;
    height: 90px;
    padding-left: 7%;
    padding-top: 7%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}