<ion-header no-border>
  <ion-toolbar>
    <ion-title>Aplicativos UDES</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button> defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="aplicativos" color="">
    <ion-card-header>
      <ion-grid >
        <ion-row>
          <ion-col offset-4>
            <div class="card-icons"> 
              <ion-card class="fondoicono">             
                <ion-avatar>
                  <a href="https://genesis-buc.udes.edu.co/#/">
                  <img src="../../assets/logo_SANTANDER_pequeño.png" alt="" >
                </a>
                </ion-avatar> 
            </ion-card>
            </div>
            <ion-label><b>Génesis</b></ion-label>
          </ion-col>
          <ion-col>
            <div class="card-icons">
              <ion-card class="fondoicono">              
                  <ion-avatar>
                    <a href="https://netplanning.eberlitz.com/portal/pages/login.jsp?rand=1605742127018&reload=true">
                    <img src="../../assets/logo_SANTANDER_pequeño.png" alt="" >
                  </a>
              </ion-avatar>
               </ion-card>
            </div>
            <ion-label><b>Berlitz</b></ion-label>
          </ion-col>
          </ion-row>
          <br><br><br><br><br>
          <ion-row>
          <ion-col>
            <div class="card-icons">
              <ion-card class="fondoicono">    
                <ion-avatar>
                  <a href="https://galileo-buc.udes.edu.co/#/">
                  <img src="../../assets/logo_SANTANDER_pequeño.png" alt="" >
                </a>
            </ion-avatar>
             </ion-card>
          </div>
          <ion-label><b>Galileo</b></ion-label>
          </ion-col>
          <ion-col offset-4>
            <div class="card-icons">
              <ion-card class="fondoicono">    
                <ion-avatar>
                  <a href="https://master-buc.udes.edu.co/#/">
                  <img src="../../assets/logo_SANTANDER_pequeño.png" alt="" >
                </a>
            </ion-avatar>
          </ion-card>
          </div>
          <ion-label><b>Master</b></ion-label>
          </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>




