<ion-header no-border>
  <ion-toolbar>
    <ion-title>Programas U</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button> defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pregrados</ion-card-title><br>
      <ion-item button="buttonClick()" color='transparent' >
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Administración Financiera</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Ingeniería de Software</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Ingeniería Industrial</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Ingeniería Petroquímica</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Instrumentación Quirúrgica</ion-label>
      </ion-item>

    </ion-card-header>
  
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tecnológicos</ion-card-title><br>
      <ion-item button="buttonClick()" class='button-transparent'  color='transparent' >
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Administración Financiera</ion-label>
      </ion-item>
      

    </ion-card-header>
  
  </ion-card>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Posgrados</ion-card-title><br>
      <ion-item button="buttonClick()" class='button-transparent'  color='transparent' >
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Administración Financiera</ion-label>
      </ion-item>
      

    </ion-card-header>
  
  </ion-card>
</ion-content>