<ion-header no-border>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button> defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid fixed>

  <ion-row>

    <ion-col  size='12' size-lg='3' size-md='4' size-sm='6' size-xs='12'
              *ngFor="let noticia of noticias">

      <ion-card>

        <ion-card-header>

          <ion-card-subtittle>{{ noticia.source.name}}</ion-card-subtittle>
          <ion-card-title>{{ noticia.title }} </ion-card-title>

        </ion-card-header>

        <ion-img  *ngIf="noticia.urlToImage"
                  [src]="noticia.urlToImage"></ion-img>

        <ion-card-content>
          <p>
            {{ noticia.description }}
          </p>
        </ion-card-content>         


      </ion-card>




    </ion-col>


  </ion-row>
</ion-grid>
</ion-content>
