<ion-header no-border>
  <ion-toolbar>
    <ion-title>Noticias UDES</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button> defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente de la noticia</ion-card-subtitle>
      <ion-card-title> Titulo de la noticia</ion-card-title>
      <img src="../../assets/panoramica_buc.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit? Veniam sit iure aperiam recusandae est cumque eos, omnis laboriosam ratione, aliquam, esse modi. Voluptatibus hic reprehenderit exercitationem debitis facilis?
      </p>
    </ion-card-content>
    <ion-button expand="block">Leer Más...</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente de la noticia</ion-card-subtitle>
      <ion-card-title> Titulo de la noticia</ion-card-title>
      <img src="../../assets/picture1.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam possimus, sit recusandae ratione asperiores quae officia, est amet natus dolor rem error reprehenderit velit provident temporibus, doloribus dolorem iure.
      </p>
    </ion-card-content>
    <ion-button expand="block">Leer Más...</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente de la noticia</ion-card-subtitle>
      <ion-card-title> Titulo de la noticia</ion-card-title>
      <img src="../../assets/picture2.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit? Veniam sit iure aperiam recusandae est cumque eos, omnis laboriosam ratione, aliquam, esse modi. Voluptatibus hic reprehenderit exercitationem debitis facilis?
      </p>
    </ion-card-content>
    <ion-button expand="block">Leer Más...</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente de la noticia</ion-card-subtitle>
      <ion-card-title> Titulo de la noticia</ion-card-title>
      <img src="../../assets/picture3.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, impedit? Veniam sit iure aperiam recusandae est cumque eos, omnis laboriosam ratione, aliquam, esse modi. Voluptatibus hic reprehenderit exercitationem debitis facilis?
      </p>
    </ion-card-content>
    <ion-button expand="block">Leer Más...</ion-button>
  </ion-card>

</ion-content>
