<ion-content>

  <div class="header">
    <div class="title">
      <img src="../../assets/universidadsantander2_0.png" alt="">
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label> <ion-icon name="person"></ion-icon></ion-label>
      <ion-input placeholder="Usuario" [(ngModel)]="user" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> <ion-icon name="key"></ion-icon></ion-label>
      <ion-input placeholder="Contraseña" [(ngModel)]="pass" type="Contraseña"></ion-input>
    </ion-item>
    <div class="btn-center-align" padding>
      <!--<ion-button color="primary" shappe="round" (click)="signIn()" >Sign In</ion-button><br> -->
      <ion-button color="primary" shappe="round" routerLink="/home">Sign In</ion-button><br>
      <a routerLink="/forgot">Forgot Password</a>
  
    </div>
  </ion-list>

</ion-content>
