ion-content{
    --background:url(../../assets/image.jpg) center center / cover ;
}

ion-content > ion-list{
    position: relative;
    top: 35%;
}
.btn-center-align{
    text-align: center!important
}
.btn-center-align ion-button:hover{
    --color:white;
}
.btn-center-align ion-button:hover{
    --color:black;
}
ion-item{
    --background: transparent;
    color: white;
    --min-height: 40px;
}
ion-list{
    background-color: transparent;
}
:host{
    --min-width: 39px;
}
.header {
    top: 50%;
    img{
        position: absolute;
        left: 40px;
        top: 160px;
        height: 70px;
   }
}