
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> <ion-icon name="person"></ion-icon></ion-label>
      <ion-input placeholder="Usuario" [(ngModel)]="user" type="text"></ion-input>
    </ion-item>

    <div class="btn-center-align" padding>
      <ion-button color="primary" shappe="round" (click)="submit()" routerLink="/home">Submit</ion-button><br>
    </div>
  </ion-list>
</ion-content>
