<ion-header no-border>
  <ion-toolbar>
    <ion-title>Conoce la UDES</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button> defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item button="buttonClick()" color='transparent' >
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Biblioteca</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Bienestar</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Mercadeo Institucional</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Graduados</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Investigación</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Extención</ion-label>
      </ion-item>
      <ion-item button="buttonClick()" color='transparent'>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        <ion-label>Nuestro Campus</ion-label>
      </ion-item>
    </ion-card-header>
  
  </ion-card>
</ion-content>
