<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="../../assets/person.png">
  </ion-avatar>
  
  <ion-chip>
    <ion-avatar>
      <img src="../../assets/person-male.png">
    </ion-avatar>
    <ion-label>Estudiante</ion-label>
  </ion-chip>


  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item lines="none">
      <ion-label color="dark">
        <h1>Información Personal</h1>
      </ion-label>
    </ion-item>
    <ion-list-header color= "dark;" lines="inset">
      <ion-label>Asegurar Cuenta</ion-label>
      <ion-button>Contraseña</ion-button>
    </ion-list-header>

  </ion-list>

</ion-content>