<ion-header no-border>
  <ion-toolbar>
    <ion-title>Eventos UDES</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button> defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente del evento</ion-card-subtitle>
      <ion-card-title> Titulo del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam possimus, sit recusandae ratione asperiores quae officia, est amet natus dolor rem error reprehenderit velit provident temporibus, doloribus dolorem iure.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente del evento</ion-card-subtitle>
      <ion-card-title> Titulo del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam possimus, sit recusandae ratione asperiores quae officia, est amet natus dolor rem error reprehenderit velit provident temporibus, doloribus dolorem iure.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente del evento</ion-card-subtitle>
      <ion-card-title> Titulo del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam possimus, sit recusandae ratione asperiores quae officia, est amet natus dolor rem error reprehenderit velit provident temporibus, doloribus dolorem iure.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente del evento</ion-card-subtitle>
      <ion-card-title> Titulo del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam possimus, sit recusandae ratione asperiores quae officia, est amet natus dolor rem error reprehenderit velit provident temporibus, doloribus dolorem iure.
      </p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>fuente del evento</ion-card-subtitle>
      <ion-card-title> Titulo del evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nam possimus, sit recusandae ratione asperiores quae officia, est amet natus dolor rem error reprehenderit velit provident temporibus, doloribus dolorem iure.
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>
