<ion-content padding>

  
<div class="header">
  <div class="title">
    <img src="../../assets/udes_escudo_lateral.png" alt="">
  </div>
</div>


<div class="avatar">

  
  <section> 
    <header></header>
    <ion-button  size="large"  expand="block" color="light" routerLink="/programas" >     
       <ion-avatar>
      <img src="../../assets/programa.png" alt="">
    </ion-avatar>
    Programa UDES
    </ion-button>
  </section>
  <br> 
  <section>
    <header></header>
    <ion-button  size="large"  expand="block" color="light" routerLink="/eventosnuevos">     
       <ion-avatar>
      <img src="../../assets/eventos.png" alt="">
    </ion-avatar>  
    <p>
      Seccion Eventos
    </p>
    </ion-button>

  </section>
  <br>
  <section>
    <header></header>
    <ion-button size="large" expand="block" color="light" routerLink="/noticias">     
       <ion-avatar >
      <img src="../../assets/noticias.png" alt="">
    </ion-avatar>  
    Seccion Noticias
    </ion-button>

  </section>
  <br> 
  <section>
    <header></header>
    <ion-button size="large" expand="block" color="light" routerLink="/conoce">     
       <ion-avatar >
      <img src="../../assets/conoce.png" alt="">
    </ion-avatar>  
    Conoce la UDES
    </ion-button>

  </section>
  <br> 
  <section>
    <header></header>
    <ion-button size="large" expand="block" color="light" routerLink="/aplicativo">     
       <ion-avatar >
      <img src="../../assets/aplicativos.png" alt="">
    </ion-avatar>  
    Aplicativos UDES
    </ion-button>

   </section>
  </div>
</ion-content>