ion-content{
    --background:url(../../assets/image.jpg) center center / cover ;
}

.header {
    margin: 10% auto;
    text-align: center;
    img{
        width: 90%;
        height: auto;
        margin:0 auto;
   }
}

.avatar{
    padding-top: 5%;

}

ion-avatar{
    height: 30px;
    width: auto;
    padding-right: 3%;
}

ion-button{
    text-transform: capitalize;
}
