<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>

  <ion-segment srollable mode="md">

    <ion-segment-button mode="md"
                        *ngFor="let categoria of categorias"
                        [value]="opcion">
     <ion-label text-capitalize>{{ categoria }} </ion-label>                  
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content>

  <app-noticias [noticias]="noticias"></app-noticias>
  


</ion-content>
