ion-content{
    --background:url(../../assets/panoramica_buc.jpg) no-repeat center center / cover;
}

ion-content > img{

    font-size: 38px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    left: 1%;
}
